## Imputate

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')

In [3]:
train = train_df.iloc[:, 6:]
train

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,52.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### singleimputation

In [4]:
from sklearn.impute import SimpleImputer
train_mean = SimpleImputer(strategy = 'mean') #median , most_frequent ,constant
train_mean.fit(train)
train_imputed = train_mean.transform(train)

In [5]:
train_imputed

array([[ 2.40974212, 95.12320917,  0.        , ..., 34.09      ,
        77.77      ,  1.        ],
       [ 2.40974212, 95.12320917,  0.        , ..., 35.34      ,
        72.55      ,  1.        ],
       [ 2.40974212, 95.12320917,  0.        , ..., 36.53      ,
        78.35      ,  1.        ],
       ...,
       [ 2.40974212, 95.12320917,  0.        , ..., 51.6598    ,
        66.6497    ,  1.        ],
       [40.        , 94.        ,  0.        , ..., 51.6598    ,
        66.6497    ,  1.        ],
       [21.        , 87.        ,  0.        , ..., 51.6598    ,
        66.6497    ,  1.        ]])

### iterativeimputation

In [6]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
imp = IterativeImputer(estimator = LinearRegression(), 
                       tol= 1e-10, 
                       max_iter=30, 
                       verbose=2, 
                       imputation_order='roman')
## estimater는 BayesianRidge방법이 default이고 툴은 바뀌가면서 돌려보면 될듯함슨

In [ ]:
pd.DataFrame(imp.fit_transform(train))##하다가 컴퓨터 터질꺼 같아서 멈췄삼

[IterativeImputer] Completing matrix with shape (598, 2793)
[IterativeImputer] Ending imputation round 1/30, elapsed time 740.95
[IterativeImputer] Change: 50882141.84308856, scaled tolerance: 2020.0
[IterativeImputer] Ending imputation round 2/30, elapsed time 1497.73
[IterativeImputer] Change: 778781554.3127917, scaled tolerance: 2020.0
[IterativeImputer] Ending imputation round 3/30, elapsed time 2305.58
[IterativeImputer] Change: 281666255.9012751, scaled tolerance: 2020.0
[IterativeImputer] Ending imputation round 4/30, elapsed time 3109.13
[IterativeImputer] Change: 103188651.34846209, scaled tolerance: 2020.0
[IterativeImputer] Ending imputation round 5/30, elapsed time 3867.78
[IterativeImputer] Change: 56941399.826636754, scaled tolerance: 2020.0
[IterativeImputer] Ending imputation round 6/30, elapsed time 4701.40
[IterativeImputer] Change: 39911411.6131895, scaled tolerance: 2020.0