In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../open/train.csv')

In [5]:
display(df.head())

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN

In [6]:
cols = df.columns
x_feat = [x for x in cols if 'X_' in x]
other_feat = [x for x in cols if 'X_' not in x]
print('X_ 로 시작하는 열의 개수 : ', len(x_feat))
print('다른 열의 종류 : ', other_feat)

X_ 로 시작하는 열의 개수 :  2875
다른 열의 종류 :  ['PRODUCT_ID', 'Y_Class', 'Y_Quality', 'TIMESTAMP', 'LINE', 'PRODUCT_CODE']

### Y_Class 비율

In [32]:
print(df.groupby(['Y_Class'])['Y_Class'].count()/len(df)*100)

Y_Class
0    14.715719
1    68.060201
2    17.224080
Name: Y_Class, dtype: float64

### LINE 과 PRODUCT_CODE별 Y_Class 분포

In [36]:
line_uni = df['LINE'].unique()
code_uni = df['PRODUCT_CODE'].unique()

print('LINE 종류 : ', line_uni)
print(df.groupby(['LINE'])['Y_Class'].count())
print(df.groupby(['LINE', 'Y_Class'])['Y_Class'].count())

LINE 종류 :  ['T050304' 'T050307' 'T100304' 'T100306' 'T010306' 'T010305']
LINE
T010305     59
T010306     70
T050304     78
T050307     42
T100304    175
T100306    174
Name: Y_Class, dtype: int64
LINE     Y_Class
T010305  0           13
         1           35
         2           11
T010306  0            6
         1           37
         2           27
T050304  0           30
         1           37
         2           11
T050307  0           11
         1            9
         2           22
T100304  0           17
         1          144
         2           14
T100306  0           11
         1          145
         2           18
Name: Y_Class, dtype: int64

In [37]:
print('PRODUCT_CODE 종류 : ', code_uni)
print(df.groupby(['PRODUCT_CODE'])['Y_Class'].count())
print(df.groupby(['PRODUCT_CODE', 'Y_Class'])['Y_Class'].count())

PRODUCT_CODE 종류 :  ['A_31' 'T_31' 'O_31']
PRODUCT_CODE
A_31    249
O_31      6
T_31    343
Name: Y_Class, dtype: int64
PRODUCT_CODE  Y_Class
A_31          0           60
              1          118
              2           71
O_31          1            4
              2            2
T_31          0           28
              1          285
              2           30
Name: Y_Class, dtype: int64

#### A_31 제품은 PRODUCT_CODE가 T0로 시작하는 LINE에만 생산되고
#### 나머지 제품은 T1로 시작하는 라인에서 생산된다

In [38]:
print(df.groupby(['LINE', 'PRODUCT_CODE','Y_Class'])['Y_Class'].count())
print(df.groupby(['PRODUCT_CODE', 'LINE','Y_Class'])['Y_Class'].count())

LINE     PRODUCT_CODE  Y_Class
T010305  A_31          0           13
                       1           35
                       2           11
T010306  A_31          0            6
                       1           37
                       2           27
T050304  A_31          0           30
                       1           37
                       2           11
T050307  A_31          0           11
                       1            9
                       2           22
T100304  O_31          1            3
         T_31          0           17
                       1          141
                       2           14
T100306  O_31          1            1
                       2            2
         T_31          0           11
                       1          144
                       2           16
Name: Y_Class, dtype: int64
PRODUCT_CODE  LINE     Y_Class
A_31          T010305  0           13
                       1           35
                       2           11
              T010306  0            6
                       1           37
                       2           27
              T050304  0           30
                       1           37
                       2           11
              T050307  0           11
                       1            9
                       2           22
O_31          T100304  1            3
              T100306  1            1
                       2            2
T_31          T100304  0           17
                       1          141
                       2           14
              T100306  0           11
                       1          144
                       2           16
Name: Y_Class, dtype: int64